body{
    background-color: #1b0414;
    color:white;
}

.items-nav{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    margin-right: 4rem;
    font-size: larger;
}
.nav-item{
  margin: 10px;
}
.nav-item:hover{
    border: 1px solid rgba(64, 195, 255, 0.247);
    text-shadow: rgb(64, 194, 255) 0px 0px 10px;
}
.nav{
    background-color: #1b0414;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #650a4a ;
    border-bottom: 2px solid #650a4a ;
    
    
}
.title{
    margin-left: 100px;
    font-family: "Brush Script MT";
    color: white;
    text-shadow: rgba(64, 195, 255, 0.363) 0px 0px 5px;
    font-size: 42px;
    
}
.title-class:hover{
  border: 1px solid rgba(64, 195, 255, 0.247);
}

.nav .icon {
  color: white;
  display: none;
  
}
@media screen and (max-width: 800px) {
  .items-nav {display: none;}
  .nav a.icon {
    float: right;
    display: flex;
    justify-content:right;
    align-items: center;
  }
  
}
@media screen and (max-width: 800px) {
  .title{
    width: max-content;
    margin-left: 0;
  }
  .nav{
    display: flex;
    justify-content: space-around;
    
  }
}

@media screen and (max-width: 800px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
  }
  .nav.responsive .items-nav {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
.intro-title{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-top: 35px;
    margin-top: 35px;

    
}
.intro{
    
    height: 60vh;
    width: auto;
    margin-top: 5vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    border-bottom: 2px solid #650a4a ;
    padding-bottom: 100px;
}
.name{
    color: #5ddcff;
}
a{
    color: #5ddcff;
}
:root {
  --card-height: 55vh;
  --card-width: calc(var(--card-height) * 0.633);
}
img{
    position: relative;
    height: auto;
    max-height: 500px;
    width: 100%;
    
    object-fit: fill;
    border-radius: 6px;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  
  
  
 
  
  
  .card {
    background: #1b0414;
    width: 100%;
    max-width: 270px;
    height: auto;
    max-height: 500px;
    padding: 0;
    border: 10px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

.edu{
    margin-top: 35px;
    padding-top: 35px;
    border-bottom:2px solid #650a4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b0414;
  min-height: 100vh;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #1b0414;
  -webkit-box-shadow: 5px 5px 10px #3c67e3, -5px -5px 10px #3c67e3;
          box-shadow: 5px 5px 10px #3c67e3, -5px -5px 10px #3c67e3;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #5ddcff, #3c67e3 ,#4e00c2);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: relative;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #5ddcff, #3c67e3, #4e00c2);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.timeline-content:hover{
    -webkit-box-shadow: 5px 5px 30px #5ddcff, -5px -5px 30px #5ddcff;
          box-shadow: 5px 5px 30px #5ddcff, -5px -5px 30px #5ddcff;
}
.skills{
    margin-top: 35px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 55px;
    border-bottom:2px solid #650a4a;
}
.skills-title{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.progress-bar-container:not(:last-child) {
    margin-bottom: 25x;
    display: block;
    justify-content: center;
}
.container{
  width: auto;
}

.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    letter-spacing: 1px;
    font-size: 20px;
    width: auto;
}

.progress-bar {
    width: 800px;
    height: 10px;
    margin-top: 8px;
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px #5ddcff;
}

.percentage {
    display: block;
    height: 100%;
    background-color: #3c67e3;
    border-radius: 5px;
    animation: progress 4000ms ease-out infinite alternate-reverse ;
}


.c {
    width: 85%;
}

.java {
    width: 60%;
}

.python {
    width: 75%;
}

.html {
    width: 85%;
}

.css {
    width: 60%;
}

.javascript {
    width: 50%;
}
.ml{
    width: 65%;
}


@keyframes progress {
    from {
        width: 0;
    }

}
.contact{
  padding-top: 35px;
  background-color: #650a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  font-size: larger;

}
form{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #c1168e;
}
input,textarea{
margin: 20px;
width:100%;
border-radius: 8px;
}
.button{
  background-color: #ea2db1;
  border-radius: 8px;
}
.information{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linkedin,.whatsapp{
  color: #eee;
  padding: 5px;
}
.nav{
  z-index: 1;
  position: sticky;
    top: 0;
}
@media screen and (max-width: 1450px){
  .progress-bar {
    width: 700px;
  }
}
@media screen and (max-width: 1150px){
  .progress-bar {
    width: 600px;
  }
}
@media screen and (max-width: 720px){
  .information{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
}
@media screen and (max-width: 1000px){
  .progress-bar {
    width: 500px;
  }
  
  .intro{
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap:100px;
  }
  .intro-title{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 630px){
.progress-bar {
  width: 350px;
}
}
@media screen and (max-width: 450px){
  .progress-bar {
    width: 250px;
  }
  }
@media screen and (max-width: 800px){
  
}